@model ProductForm
@{
    ViewData["Title"] = "Створення продукту";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        @await Html.PartialAsync("_Form", Model, new ViewDataDictionary(ViewData)
        {
            { "SaveButtonTitle", "Створити"  }
        })
    </div>
</div>